/* Global Stiller */
body {
    background-image:url('img/bg.jpg');
    font-family: Arial, sans-serif;
    background-color: #0b1f59;
    background-position: center;
    background-size: contain;
    color: white;
    padding: 0;
    margin: 0;
}
* { /*Padding verdiğimde div büyüyordu. bu kod ise bu durumu düzeltiyor*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    justify-content: space-between;
    max-width: calc(100% - 50px);
    margin: 0 auto;
    width: 1500px;
    display: flex;
}
.content{
    background-color: rgb(0 7 77 / 17%);
    min-height: 100vh; /*ekran içerikleri az olduğu için min heigh 100vh= 100 window height olarak ekranın tam  yüksekliğini kaplamasını sağladım*/
}

/* Header Stilleri */
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;

}
.navbar-menu{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.navbar-menu .left-group{
    padding: 0px 25px;
    font-weight: 900;
    font-size: 25px;
}
.navbar-menu .right-group{
    font-size: 14px;
}
.menu{
    justify-content: space-between;
    color: white;
    display: flex;
}
.menu .item a{
    border-left: 1px solid rgba(255,255,255,0.1);
    text-decoration: none;
    padding: 20px 25px;
    color: white;
    display: flex;
}
.menu .item a:hover{
    background-color:rgba(0,0,0,0.6);
    transition: all 1s ;
}
/*Header Stil Bitiş*/
/*Body Baslangic */
.eart-content{
    justify-content: space-between;
    height: calc(100vh - 257px); 
    display: flex;
    width: 100%;
}
.eart-content .left-content{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
}
.eart-content .left-content img{
    max-width: 100%;
    filter: drop-shadow(0px 0px 26px rgba(0, 50, 200, 0.2)); /*internetten öğrendim. nesnelerin kopyasını shadow olarak oluşturuyor.*/
}
.eart-content .right-content{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
}
.eart-content .panel{
    background-color:rgba(25, 100, 255,0.1);
    border-radius: 10px;
    text-align: start;
    flex-flow: column;
    display: flex;
    padding: 50px;
    width: 100%;
    gap:35px;
}
.eart-content .panel .text-content{
    margin: 0 auto;
    width: 100%;
}
.eart-content .panel .bottom-content{
    justify-content: center;
    flex-flow: column;
    display: flex;
    gap: 10px;
}
.eart-content .panel .bottom-content button{
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: transparent;
    align-items: center;
    font-weight: 900;
    color: white;
    display: flex;
    padding: 10px;
    height: 40px;
}
.eart-content .panel .bottom-content button:hover,
.eart-content .panel .bottom-content button.active{
    background-color: #4d2077;
    border-color: #340460;
    font-weight: 900;
}
.eart-content .panel .bottom-content span{
    width: 60px;
}
.sayfa-icerik{
    line-height: 26px;
}
.bottom-info {
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap:30px;
}
.bottom-info .text {
    border: 1px solid rgb(255, 255, 255, 0.3);
    justify-content: center;
    border-radius: 6px;
    flex-flow: column;
    display: flex;
    padding: 35px;
    width: 25%;
    gap:5px;
}
.bottom-info .text span.title {
    color:rgba(255,255,255,0.5);
    font-size:12px;
}
.bottom-info .text span.value {
    font-weight: 900;
    font-size:30px;
}
/*Responsive*/
@media screen and (max-width: 1100px) {
    .navbar-menu .right-group {
      display: none;
    }
    .navbar-menu .left-group{
        padding: 10px 25px;;
    }
    .eart-content .left-content,
    .eart-content .right-content{
        width: 50%;
    }
  }
  @media screen and (max-width: 991px) {
    .eart-content{
        flex-flow: column;
    }    
    .eart-content .left-content, .eart-content .right-content {
        width: 100%;
    }
    .eart-content{
        height: auto;
        gap:30px;
    }
    .bottom-info{
        margin-bottom: 50px;
        margin-top: 40px;
    }
  }
  @media screen and (max-width: 800px) {
    .bottom-info{
        flex-wrap: wrap;
        gap:10px;
    }
    .bottom-info .text{
        width: calc(50% - 5px);
    }
  }
  @media screen and (max-width: 470px) {
    .bottom-info{
        flex-wrap: wrap;
        gap:10px;
    }
    .bottom-info .text{
        width: 100%;
    }
  }